<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Actor</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{url_for('static', filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="index" class="brand-logo ">Home</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="political">POLITICAL</a></li>
		<li><a href="man">BUSINESS</a></li>
		<li><a href="actor">CELEBRITIES</a></li>
		<li><a href="writer">AUTHOR</a></li>
		<li><a href="designer">Designer</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  
	
 
		
      <!--   Icon Section   -->
      
        <div class="row">
    <div class="col">
      <div class="card #fce4ec #fafafa grey lighten-5">
<h4 align="left"><font color="Green"><br>Nay Toe(Myanmar Actor)<br><br></h4>
<div class="row">
    <div class="col s12 m5">
      <div class="card" style="align:left;">
        <div class="card-image" style="align:center;">
          <img src="{{url_for('static', filename=images/'naytoe.jpg')}}" border="13px">
	 
        </div>
        <div class="card-content">
<p align="left">Nay Toe is a three-time Myanmar Academy Award winning film actor and a comedian with the Burmese traditional dance triope Htawara Hninzi.</p>
        </div>
        <div class="card-action">
          
<div class="action_buttons">
		<a href="https://en.wikipedia.org/wiki/Nay_Toe" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" data-upgraded=",MaterialButton,MaterialRipple">
			<i class="material-icons">comment</i> Read More
		<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
	</div>

    
    </div>
  </div><br>
  </div></div>
		 </div>
		  </div></br>
		  
		  
		 
		<div class="row">
<div class="col">		
      <div class="card #fce4ec #fafafa grey lighten-5">
<h5 align="left"><font color="Green"><br>Wutt Hmone Shwe Yi(Myanmar Actress)<br><br></h5>
<div class="row">
    <div class="col s12 m5">
      <div class="card" style="align:left;">
        <div class="card-image" style="align:center;">
          <img src="{{url_for('static', filename='images/wutt.jpg')}}" border="10px">
	 
        </div>
        <div class="card-content">
<p align="left">Wutt Hmone Shwe Yi is a two-time Myanmar Academy Award winning film actress and advertising model in Myanmar. She is best known for winning the 2013 Myanmar Academy Award as best actress in the film As U Like.</p>
        </div>
        <div class="card-action">
          
<div class="action_buttons">
		<a href="https://en.wikipedia.org/wiki/Wutt_Hmone_Shwe_Yi" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" data-upgraded=",MaterialButton,MaterialRipple">
			<i class="material-icons">comment</i> Read More
		<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
	</div>

    </div>
  </div><br>
  
         </div>
		
    </div></div></div>
  </div></br>


        <div class="row">
    <div class="col">
      <div class="card #fce4ec #fafafa grey lighten-5">
<h5 align="left"><font color="Green"><br>Shwe Eain Si(Miss Grand Myanmar 2017)<br><br></h5>
<div class="row">
    <div class="col s12 m5">
      <div class="card" style="align:left;">
        <div class="card-image" style="align:center;">
          <img src="{{url_for('static', filename='images/shweeainsi.jpg')}}" border="7px">
	 
        </div>
        <div class="card-content">
<p align="left">Shwe Eain Si who was the reigning Miss Grand Myanmar 2017 and was all set to represent Myanmar in Miss Grand International 2017 pageant to be held this month in Vietnam has been stripped off her title and the crown. Myanmar beauty queen Shwe Eain Si says she was stripped of her pageant title after posting a graphic video accusing Muslim Rohingya militants of driving communal violence in Rakhine state, a conflict fraught with controversy in the mainly Buddhist country. Now, she is Miss Supranational Myanmar 2018.</p>
        </div>
        <div class="card-action">
          
<div class="action_buttons">
		<a href="https://www.angelopedia.com/news/Miss-Grand-Myanmar-2017-is-Shwe-Eain-Si/3368" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" data-upgraded=",MaterialButton,MaterialRipple">
			<i class="material-icons">comment</i> Read More
		<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
	</div>

    </div>
  </div><br>
 </div></div></div>
		 </div>
		  </div></br></br>
		 
		<div class="row">
    <div class="col">
      <div class="card #fce4ec #fafafa grey lighten-5">
<h4 align="left"><font color="Green"><br>Sai Sai Kham Hlaing(Famous Vocalist Of Myanmar)<br><br></h4>
<div class="row">
    <div class="col s12 m5">
      <div class="card" style="align:left;" >
        <div class="card-image" style="align:center;">
          <img src="{{url_for('static', filename='images/sai.jpg')}}" border="13px">
	 
        </div>
        <div class="card-content">
<p align="left">Sai Sai Kham Hlaing is famous singer, novelist, actor and song writer of Myanmar.  He is known for his hip hop music. </p>
        </div>
        <div class="card-action">
          
<div class="action_buttons">
		<a href="https://en.wikipedia.org/wiki/Sai_Sai_Kham_Leng" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" data-upgraded=",MaterialButton,MaterialRipple">
			<i class="material-icons">comment</i> Read More
		<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
	</div>

    </div>
  </div><br>
 </div></div></div>
		 </div>
		  </div></br></br>
		  
		  
		  
		  <div class="row">
    <div class="col">
      <div class="card #fce4ec #fafafa grey lighten-5">
<h5 align="left"><font color="Green"><br>Nay Shwe Thway Aung<br><br></h5>
<div class="row">
    <div class="col s12 m5">
      <div class="card" style="align:left;">
        <div class="card-image" style="align:center;">
          <img src="{{url_for('static', filename='images/nay.jpg')}}" border="13px">
	 
        </div>
        <div class="card-content">
<p align="left">Nay Shwe Thway Aung also known as Phoe La Pyae. He  is a Burmese business tycoon, the grandson of Senior General Than Shwe, Myanmar's dictator and formerly head of a military junta. He is one of the business tycoon in the list of cronies who provide political and financial support for Burma's ruling regime and government.</p>
        </div>
        <div class="card-action">
          
<div class="action_buttons">
		<a href="https://en.wikipedia.org/wiki/Nay_Shwe_Thway_Aung" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" data-upgraded=",MaterialButton,MaterialRipple">
			<i class="material-icons">comment</i> Read More
		<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
	</div>
 </div></div></div>
    </div>
  </div><br>

		 </div>
		  </div></br>
		