<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Designer</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{url_for('static', filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="index.html" class="brand-logo">Home</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="political.html">POLITICAL</a></li>
		<li><a href="man.html">BUSINESS LEADERS</a></li>
		<li><a href="actor.html">CELEBRITIES</a></li>
		<li><a href="writer.html">AUTHOR</a></li>
		<li><a href="designer.html">Designer</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  
	
 
		
      <!--   Icon Section   -->
      
        <div class="row">
    <div class="col">
      <div class="card #fce4ec #fafafa grey lighten-5">
<h4 align="left"><font color="purple"><br>Mogok Pauk Pauk<br><br></h4>
<div class="row">
    <div class="col s12 m5">
      <div class="card" style="align:left;">
        <div class="card-image" style="align:center;">
          <img src="{{url_for('static', filename='images/mogok.JPG')}}" border="10px">
	 
        </div>
        <div class="card-content">
<p align="left">Mogok Pauk Pauk, the celebrated transgender fashion designer from Myanmar.</p>
        </div>
        <div class="card-action">
          
<div class="action_buttons">
		<a href="https://www.myanmore.com/yangon/2017/12/the-innovator/" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" data-upgraded=",MaterialButton,MaterialRipple">
			<i class="material-icons">comment</i> Read More
		<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
	</div>

    
    </div>
  </div><br>
  </div></div>
		 </div>
		  </div></br>
		  
		  
		 
		<div class="row">
<div class="col">		
      <div class="card #fce4ec #fafafa grey lighten-5">
<h5 align="left"><font color="purple"><br>Steven Oo<br><br></h5>
<div class="row">
    <div class="col s12 m5">
      <div class="card" style="align:left;">
        <div class="card-image" style="align:center;">
          <img src="{{url_for('static', filename='images/steven.jpg')}}" border="10px">
	 
        </div>
        <div class="card-content">
<p align="left">Internationally recognized fashion designer and owner of the design studio Steven Oo. He also created a menswear brand called 00:55</p>
        </div>
        <div class="card-action">
          
<div class="action_buttons">
		<a href="https://www.linkedin.com/in/steven-oo-52377913" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" data-upgraded=",MaterialButton,MaterialRipple">
			<i class="material-icons">comment</i> Read More
		<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
	</div>

    </div>
  </div><br>
  
         </div>
		
    </div></div></div>
  </div></br>

<div class="row">
<div class="col">		
      <div class="card #fce4ec #fafafa grey lighten-5">
<h5 align="left"><font color="purple"><br>Ahlatt Lumyang<br><br></h5>
<div class="row">
    <div class="col s12 m5">
      <div class="card" style="align:left;">
        <div class="card-image" style="align:center;">
          <img src="{{url_for('static', filename='images/ahlatt.jpg')}}" border="10px">
	 
        </div>
        <div class="card-content">
<p align="left">Ahlatt_Lumyang is Burmese Fashion Designer of Myanmar.</p>
        </div>
        <div class="card-action">
          
<div class="action_buttons">
		<a href="https://en.wikipedia.org/wiki/Ahlatt_Lumyang" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" data-upgraded=",MaterialButton,MaterialRipple">
			<i class="material-icons">comment</i> Read More
		<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
	</div>

    </div>
  </div><br>
  
         </div>
		
    </div></div></div>
  </div></br>
        <div class="row">
    <div class="col">
      <div class="card #fce4ec #fafafa grey lighten-5">
<h5 align="left"><font color="purple"><br>Myo Min Soe<br><br></h5>
<div class="row">
    <div class="col s12 m5">
      <div class="card" style="align:left;">
        <div class="card-image" style="align:center;">
          <img src="{{url_for('static', filename='images/myominsoe.jpg')}}" border="7px">
	 
        </div>
        <div class="card-content">
<p align="left">Myo Min Soe is one of the famous fashion designer of Myanmar. He is best known for his designs incorporating gold, rubies, diamonds and jewels.</p>
        </div>
        <div class="card-action">
          
<div class="action_buttons">
		<a href="https://en.wikipedia.org/wiki/Myo_Minn_Soe" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" data-upgraded=",MaterialButton,MaterialRipple">
			<i class="material-icons">comment</i> Read More
		<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
	</div>

    </div>
  </div><br>
 </div></div></div>
		 </div>
		  </div></br></br>
	
