<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Political</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{url_for('static', filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="index.html" class="brand-logo">Home</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="political.html">POLITICAL</a></li>
		<li><a href="man.html">BUSINESS LEADERS</a></li>
		<li><a href="actor.html">CELEBRITIES</a></li>
		<li><a href="writer.html">AUTHOR</a></li>
		<li><a href="designer.html">Designer</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  
	
 
		
      <!--   Icon Section   -->
      
        <div class="row">
    <div class="col">
      <div class="card #fce4ec #fafafa grey lighten-5">
<h4 align="left"><font color="red"><br>Daw Aung San Su Kyi<br><br></h4>
<div class="row">
    <div class="col s12 m5">
      <div class="card" style="align:left;">
        <div class="card-image" style="align:center;">
          <img src="{{url_for('static', filename='images/aungsan.png')}}" border="10px">
	 
        </div>
        <div class="card-content">
<p align="left">Daw Aung San Su Kyi is a Burmese politician, diplomat, and author, and Nobel Peace Prize laureate. She is the leader of the National League for Democracy and the first and incmbent State Counsellor, a position akin to a prime minister.</p>
        </div>
        <div class="card-action">
          
<div class="action_buttons">
		<a href="https://en.wikipedia.org/wiki/Aung_San_Suu_Kyi" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" data-upgraded=",MaterialButton,MaterialRipple">
			<i class="material-icons">comment</i> Read More
		<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
	</div>

    
    </div>
  </div><br>
  </div></div>
		 </div>
		  </div></br>
		  
		  
		 
		<div class="row">
<div class="col">		
      <div class="card #fce4ec #fafafa grey lighten-5">
<h5 align="left"><font color="red"><br>U Win Myint(President Of Myanmar)<br><br></h5>
<div class="row">
    <div class="col s12 m5">
      <div class="card" style="align:left;">
        <div class="card-image" style="align:center;">
          <img src="{{url_for('static', filename='images/winmyint.jpg')}}" border="10px">
	 
        </div>
        <div class="card-content">
<p align="left">U Win Myint is a Burmese politician and former political prisoner who is serving as the 10th President of Myanmar since 30 March 2018. He was the Speaker of the House of Representatives of Myanmar from 2016 to 2018.</p>
        </div>
        <div class="card-action">
          
<div class="action_buttons">
		<a href="https://en.wikipedia.org/wiki/Win_Myint_(politician)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" data-upgraded=",MaterialButton,MaterialRipple">
			<i class="material-icons">comment</i> Read More
		<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
	</div>

    </div>
  </div><br>
  
         </div>
		
    </div></div></div>
  </div></br>
<div class="row">
<div class="col">		
      <div class="card #fce4ec #fafafa grey lighten-5">
<h5 align="left"><font color="red"><br>U Htin Kyaw(Former President Of Myanmar)<br><br></h5>
<div class="row">
    <div class="col s12 m5">
      <div class="card" style="align:left;">
        <div class="card-image" style="align:center;">
          <img src="{{url_for('static', filename='images/htin.jpg')}}" border="10px">
	 
        </div>
        <div class="card-content">
<p align="left">Htin Kyaw is a Burmese politician, writer and scholar who served as the 9th President of Myanmar from 30 March 2016 to 21 March 2018. He was the first elected president to hold the office with no ties to the military since the 1962 coup d'état. The second son of scholar Min Thu Wun, Htin Kyaw had held various positions in the education, planning and treasury ministries in prior governments. </p>
        </div>
        <div class="card-action">
          
<div class="action_buttons">
		<a href="https://en.wikipedia.org/wiki/Htin_Kyaw" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" data-upgraded=",MaterialButton,MaterialRipple">
			<i class="material-icons">comment</i> Read More
		<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
	</div>

    </div>
  </div><br>
  
         </div>
		
    </div></div></div>
  </div></br>


        <div class="row">
    <div class="col">
      <div class="card #fce4ec #fafafa grey lighten-5">
<h5 align="left"><font color="red"><br>Senior General Min Aung Hlaing<br><br></h5>
<div class="row">
    <div class="col s12 m5">
      <div class="card" style="align:left;">
        <div class="card-image" style="align:center;">
          <img src="{{url_for('static', filename='images/hlaing.jpeg')}}" border="7px">
	 
        </div>
        <div class="card-content">
<p align="left">Senior General Min Aung Hlaing is the current commander-in-chief of the Myanmar Armed Forces, appointed in 2011. As commander-in-chief he is responsible for human rights violations by the Burmese Army that could amount to war crimes and crimes against humanity.</p>
        </div>
        <div class="card-action">
          
<div class="action_buttons">
		<a href="https://en.wikipedia.org/wiki/Min_Aung_Hlaing" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" data-upgraded=",MaterialButton,MaterialRipple">
			<i class="material-icons">comment</i> Read More
		<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
	</div>

    </div>
  </div><br>
 </div></div></div>
		 </div>
		  </div></br></br>
	