<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Authors Of Myanmar</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{url_for('static', filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="index.html" class="brand-logo ">Home</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="political.html">POLITICAL</a></li>
		<li><a href="man.html">BUSINESS LEADERS</a></li>
		<li><a href="actor.html">CELEBRITIES</a></li>
		<li><a href="writer.html">AUTHOR</a></li>
		<li><a href="designer.html">Designer</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  
	
 
		
      <!--   Icon Section   -->
      
        <div class="row">
    <div class="col">
      <div class="card #fce4ec #fafafa grey lighten-5">
<h4 align="left"><font color="blue"><br>P Moe Nin<br><br></h4>
<div class="row">
    <div class="col s12 m5">
      <div class="card" style="align:left;">
        <div class="card-image" style="align:center;">
          <img src="{{url_for('static', filename='images/pmoenin.JPG')}}" border="10px">
	 
        </div>
        <div class="card-content">
<p align="left">P Moe Nin was one of Burma's most prolific and treasured writers. His writing style differed from that prevalent in Burma at the time, writing concisely and clearly. Because of this, he is often regarded as the father of Burmese short story writing and the modern Burmese novel.</p>
        </div>
        <div class="card-action">
          
<div class="action_buttons">
		<a href="https://en.wikipedia.org/wiki/P_Moe_Nin" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" data-upgraded=",MaterialButton,MaterialRipple">
			<i class="material-icons">comment</i> Read More
		<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
	</div>

    
    </div>
  </div><br>
  </div></div>
		 </div>
		  </div></br>
		  
		  
		 
		<div class="row">
<div class="col">		
      <div class="card #fce4ec #fafafa grey lighten-5">
<h5 align="left"><font color="blue"><br>Ludu Daw Amar<br><br></h5>
<div class="row">
    <div class="col s12 m5">
      <div class="card" style="align:left;">
        <div class="card-image" style="align:center;">
          <img src="{{url_for('static', filename='images/ludu.jpg')}}" border="10px">
	 
        </div>
        <div class="card-content">
<p align="left">Ludu Daw Amar was a well known and respected leading dissident writer and journalist in Mandalay, Burma. She was married to fellow writer and journalist Ludu U Hla and the was the mother of popular writer Nyi Pu Lay.</p>
        </div>
        <div class="card-action">
          
<div class="action_buttons">
		<a href="https://en.wikipedia.org/wiki/Ludu_Daw_Amar" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" data-upgraded=",MaterialButton,MaterialRipple">
			<i class="material-icons">comment</i> Read More
		<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
	</div>

    </div>
  </div><br>
  
         </div>
		
    </div></div></div>
  </div></br>

   
		<div class="row">
<div class="col">		
      <div class="card #fce4ec #fafafa grey lighten-5">
<h5 align="left"><font color="blue"><br>Lun Htar Htar<br><br></h5>
<div class="row">
    <div class="col s12 m5">
      <div class="card" style="align:left;">
        <div class="card-image" style="align:center;">
          <img src="{{url_for('static', filename='images/lun.jpg')}}" border="10px">
	 
        </div>
        <div class="card-content">
<p align="left">Lun Htar Htar is a prolific Burmese writer, having written over 300 novels throughout her career.</p>
        </div>
        <div class="card-action">
          
<div class="action_buttons">
		<a href="https://en.wikipedia.org/wiki/Lun_Htar_Htar" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" data-upgraded=",MaterialButton,MaterialRipple">
			<i class="material-icons">comment</i> Read More
		<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
	</div>

    </div>
  </div><br>
  
         </div>
		
    </div></div></div>
  </div></br>

        <div class="row">
    <div class="col">
      <div class="card #fce4ec #fafafa grey lighten-5">
<h5 align="left"><font color="blue"><br>Daw Khin Khin Htoo<br><br></h5>
<div class="row">
    <div class="col s12 m5">
      <div class="card" style="align:left;">
        <div class="card-image" style="align:center;">
          <img src="{{url_for('static', filename='images/khin.gif')}}" border="7px">
	 
        </div>
        <div class="card-content">
<p align="left">Daw Khin Khin Htoo is a Mandalay-based Myanmar National Literature Award winning writer. Her works are known for their coverage of the traditional Burmese culture, and beauty of Burmese people of Upper Myanmar.</p>
        </div>
        <div class="card-action">
          
<div class="action_buttons">
		<a href="https://en.wikipedia.org/wiki/Khin_Khin_Htoo" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" data-upgraded=",MaterialButton,MaterialRipple">
			<i class="material-icons">comment</i> Read More
		<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
	</div>

    </div>
  </div><br>
 </div></div></div>
		 </div>
		  </div></br></br>
		 
		<div class="row">
    <div class="col">
      <div class="card #fce4ec #fafafa grey lighten-5">
<h4 align="left"><font color="blue"><br>Ju<br><br></h4>
<div class="row">
    <div class="col s12 m5">
      <div class="card" style="align:left;" >
        <div class="card-image" style="align:center;">
          <img src="{{url_for('static', filename='images/ju.jpg')}}" border="13px">
	 
        </div>
        <div class="card-content">
<p align="left">Ju was born as Tin Tin Win on 20 September 1958, is a Burmese novelist, well known for her strong, intelligent female characters. </p>
        </div>
        <div class="card-action">
          
<div class="action_buttons">
		<a href="https://en.wikipedia.org/wiki/Ju_(writer)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" data-upgraded=",MaterialButton,MaterialRipple">
			<i class="material-icons">comment</i> Read More
		<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
	</div>

    </div>
  </div><br>
 </div></div></div>
		 </div>
		  </div></br></br>
		  
		  
		  
		  
